.App {
  text-align: center;
  width: 100%;
  display:grid;
  grid-gap: 10px;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "tabs tabs"
    "art radio";
}

.App > div {
  background: peachpuff;
}

/* Tabs */
.tabs {
  grid-area: tabs;
  /*TODO: implement positioning */
}

.art {
  padding: 15px;
  grid-area: art;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image text"
    "image sound";
}

.art > div {
  background: #ff9f91;
  padding: 10px;
}

.image {
  grid-area: image;
}
.image img {
  max-width: 400px;
  max-height: 400px;
}

.text {
  grid-area: text;
}

.sound {
  grid-area: sound;
}

.radio {
  padding: 15px;
  grid-area: radio;
}
.radio label {
  display: block;
  text-align: left;
}

.tab-list {
  border-bottom: 1px solid #d3d3d3;
  padding-left: 0;
}

.tab-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  margin-left: 2px;
  padding: 0.5em 0.75em;
}
.tab-item:hover{
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px 5px 0 0;
  background-color: #e2e2e2;
}

.tab-item-current {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  margin-left: 2px;
  padding: 0.5em 0.75em;
  background-color: #d3d3d3;
  border-radius: 5px 5px 0 0;
  border-width: 1px 1px 0 1px;
}

@media only screen and (max-width: 627px) {
  .App {
    grid-template-columns: auto;
    grid-template-areas:
      "tabs"
      "radio"
      "art";
  }
  .radio label {
    display: initial;
    text-align: left;
  }

  .art {
    padding: 15px;
    grid-area: art;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "image"
      "text"
      "sound";
  }

  .tab-list {
    border-bottom: 0;
    padding-left: 0;
  }

  .tab-item {
    display: block;
    list-style: none;
    margin-bottom: -1px;
  }
  .tab-item:hover{
    cursor: pointer;
    border-radius: initial;
  }

  .tab-item-current {
    display: block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5em 0.75em;
    background-color: #d3d3d3;
    border-radius: initial;
  }
}
