.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Tabs */
.tabs {
  /*TODO: implement positioning */
}

.tab-list {
  border-bottom: 1px solid #d3d3d3;
  padding-left: 0;
}

.tab-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  margin-left: 2px;
  padding: 0.5em 0.75em;
}
.tab-item:hover{
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px 5px 0 0;
  background-color: #d3d3d3;
}

.tab-item-current {
  background-image: linear-gradient(#d3d3d3, white);
  border: solid #d3d3d3;
  border-radius: 5px 5px 0 0;
  border-width: 1px 1px 0 1px;
}

@media only screen and (max-width: 400px) {
  .tab-list {
    border-bottom: 1px solid #d3d3d3;
    padding-left: 0;
  }

  .tab-item {
    display: block;
    list-style: none;
    margin-bottom: 5px;
    border-radius: initial;
    padding: 0.5em 0.75em;
  }
  .tab-item:hover{
    cursor: pointer;
    border-radius: initial;
  }

  .tab-item-current {
    background: #d3d3d3 none;
    border-radius: initial;
  }
}
